@font-face {
  font-family: "Inter-Regular";
  src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./fonts/Inter-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter-Regular", sans-serif;
  background-color: #191919;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.entry-list-container {
  height: 100vh;
  width: 25%;
  overflow: auto;
  background-color: #cccccc;
}

.heading {
  padding: 40px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
}

.heading h1 {
  font-size: 1.5rem;
}

.heading p {
  margin-top: 5px;
}

.entry-list-item {
  padding: 20px;
  min-height: 128px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  transition-duration: 0.6s;
}

.entry-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.entry-list-item h2 {
  font-size: 1.5rem;
  color: rgb(88, 87, 87);
}

.entry-list-item p {
  color: rgb(151, 147, 147);
  margin-top: 5px;
  margin-bottom: 5px;
}

.special-tag {
  border-radius: 15px;
  background-color: rgb(151, 147, 147);
  color: #cccccc;
  padding: 3px 7px;
  font-size: 0.8rem;
  font-weight: bold;
}

.entry-area {
  overflow: auto;
  height: 100vh;
  width: 75%;
  padding: 30px 53px;
  background-color: #191919;
  color: white;
}

.entry-field {
  display: block;
  width: 100%;
  font-family: "Inter-SemiBold", sans-serif;
  border: none;
  font-size: 5rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
}

.date-picker {
  border: none;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2rem;
  color: gray;
  background-color: transparent;
  margin-top: 15px;
}

.entry-textarea {
  font-family: "Inter-Regular", sans-serif;
  display: block;
  margin-top: 38px;
  width: 95%;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 38px;
  resize: none;
}

.entry-title {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
}

.entry-date {
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2rem;
  color: gray;
  margin-top: 15px;
}

.entry-content {
  white-space: pre-wrap;
  width: 95%;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 38px;
  margin-top: 38px;
}

.entry-menu {
  position: fixed;
  height: 100vh;
  width: 105px;
  right: 26%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0px;
}

.entry-sub-menu {
  display: flex;
  flex-direction: column;
}

.app-btn {
  color: rgba(255, 255, 255, 0.3);
  font-size: 2rem;
  transition-duration: 0.6s;
}

.app-btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

.special-btn {
  color: rgba(255, 255, 255, 0.3);
  font-size: 2rem;
  transition-duration: 0.6s;
}

.delete-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delete-entry h2 {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.choice-buttons {
  margin-top: 4vh;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

#delete-btn:hover {
  color: rgba(228, 42, 42, 0.5);
}

/* .overlay {
  position: fixed;
  width: 100%;
  height: 6vh;
  z-index: 101;
  display: flex;
}
.right-overlay {
  width: 25%;
  height: 100%;
  background-image: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, 0));
}

.left-overlay {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 3px;
  background-image: linear-gradient(to bottom, #191919, rgba(0, 0, 0, 0));
} */

.landing-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
}

.auth-panel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}

.auth-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container h1 {
  font-size: 5rem;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 99;
  transition-duration: 1s;
}

.auth-input {
  background-color: transparent;
  font-family: "Inter-Regular";
  text-align: center;
  width: 100%;
  border: none;
  color: white;
  font-size: 2rem;
  margin: 8px 0px;
}

.auth-msg {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-msg p {
  text-align: center;
  color: rgba(255, 0, 0, 0.5);
}

.settings {
  color: rgba(255, 255, 255, 0.3);
}

.settings h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
}
